@import "variables";
    body {
    font-family:$montserratFont;
    font-size: $font16;
    line-height: 1.5;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family:$montserratFont;
        padding: 0px;
        margin: 0px;
    }
    
    a,
    a:hover,
    a:active,
    a:focus {
    outline: none;
    text-decoration: none;
    }
    
    input,
    button,
    a {
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    }
    
    input,
    input:focus,
    button,
    button:focus {
    outline: none;
    border-color: inherit;
    }
    
    p {
    margin: 0; padding: 0;
    }
    
    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }