@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@600;700;800&display=swap');

/* iPadPro needs work */
$nHomeiPadPro: "(min-device-width: 1024px) and (max-device-width: 1366px)";
$nHometablet: "(min-width: 768px) and (max-width: 1024px)";
$nHometabletLandscape: "(min-width: 768px) and (max-width: 1024px) and (orientation : landscape)";
$nHomedesktop: "(min-width: 1024px)";
$nHomephone: "(min-device-width: 320px) and (max-device-width: 736px)";
$nHomephone6: "(min-device-width: 375px) and (max-device-width: 667px)";
$nHomephone6Plus: "(min-device-width: 414px) and (max-device-width: 736px)";

// Custom media
$nHomedesktop1156: "(max-width: 1156px)";
$nHomeipad1024: "(max-width: 1023px)";
$nHomeipad768: "(max-width: 990px)";
$nHometablet767: "(max-width: 767px)";
$nHomephone599: "(max-width: 599px)";
$nHomephone479: "(max-width: 479px)";
// Custom media

//Font Family
$nHomepopineFont: 'Poppins';
$nHomemontserratFont: 'Montserrat';
$nHomeantonFont:'Anton';

$nHometextcenter: center;

$nHomebolder:800;
$nHomebold700:700;
$nHomebold:600;
$nHomesemibold:500;
$nHomenormal:400;
$nHomelight:300;

$nHomefont16:16px;
$nHomefont20:20px;
$nHomefont24:24px;
$nHomefont26:26px;
$nHomefont30:30px;
$nHomefont36:36px;
$nHomefont48:48px;


// colors
$nHomewhite:#fff;
$nHomeblack:#000;
$nHomegreydark:#333333;
$nHomegreylight:#9A9A9B;
$nHomebody_copy:#646A78;
$nHomegray:#313131;
$nHomebggrey:#EDEEEE;


@mixin scale{
  max-width:100%; 
  height:auto; 
  width:auto\9;
}
@mixin section_space{
  padding: 70px 0;
  @media #{$nHomephone599}{
    padding: 40px 0;
  }
}

@mixin list-type-none {
  list-style: none;
  padding: 0;
  margin: 0;
}
@mixin flex-css {
  display:-webkit-flex;
 display:flex;
 -webkit-flex-wrap:wrap;
 flex-wrap:wrap;
 -webkit-align-items:center;
 align-items:center;
 -webkit-align-content:center;
 align-content:center;
}

@mixin flexallcenter{
    display:flex;
    justify-content: center;
    align-items:center;
}
@mixin flexcenterbetween{
  display:flex;
  justify-content: space-between;
  align-items:center;
}

@mixin body_copy{
    color: $nHomegreylight;
    font-family: $nHomemontserratFont;
    font-size: $nHomefont16;
    font-weight: $nHomesemibold;
    letter-spacing: 0;
    line-height: 19px;
}

@mixin sub_Heading{
    font-family:$nHomemontserratFont;
    font-weight: $nHomebold700;
    color:$nHomegreydark;
}

@mixin afterbefore{
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@mixin transtionslow{
  transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

