@import "helper/reset";

/*Common btn */ 
%buttondesign {
    height: 50px;
    width: 240px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &:after{
        @include afterbefore;
         background: rgba(0,0,0,0.08);
         @include transtionslow;
         height: 0px;
    }
    &:hover
    { @include transtionslow;
        &:after{
            @include afterbefore;
             background: rgba(0,0,0,0.08);
             @include transtionslow;
             height: 100%;
        }
    }
}
.white-btn {
    @extend %buttondesign;
    background-color: $nHomewhite;
    color: $nHomegreydark;
}
.green-btn {
    @extend %buttondesign;
    color: #F7F7F7;
    background-color: #C3CF21;
    &:hover{
        color: #fff;
    }
}

h2.subhead{
    @include sub_Heading;
    padding-bottom: 45px;
    font-size: $nHomefont36;
    line-height: 39px;
}
h3.h3head{
    @include sub_Heading;
    padding-bottom: 10px;
    font-size: $nHomefont24;
    line-height: 26px;
}
h4.h4head{
    @include sub_Heading;
    padding: 10px 0 0 0;
    font-size: $nHomefont20;
    color: $nHomegreydark;
}
.head_with_para{
    h2{
        padding-bottom: 20px;
    }
    p{
        @include body_copy;
    }
}
.textcenter{ text-align: center;}
.hidedesktop{ display: none;}
.container_fluid{ width: 100%;}


/** Header Start  **/

.nHome_header{
    @include flexcenterbetween;
    @media #{$nHometablet767} {
        justify-content: center;
    }
    .nHome_logo{
        font-size: 40px;
        font-family: $nHomeantonFont;
        padding:12px 42px;
        color: #343434;
        text-transform: uppercase;
        @media #{$nHometablet767} {
            padding: 12px 0;
            font-size: $nHomefont30;
        }
        a{
            cursor: pointer;
            color: #343434;
        }
    }
    .getbutton{
        margin: 3px 30px;
    }
}

/*** Banner **/
.banner-main{ 
    text-align: center;
    background: url(../images/banner01.jpg) no-repeat 50%;
    background-size: cover;
    min-height: 571px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media #{$nHometablet767} {
        min-height: 300px;
    }
    .banner_container{
        max-width: 632px;
        text-shadow: 0 5px 14px rgba(0,0,0,0.5);
        h1{
            font-size: $nHomefont48;
            color: $nHomewhite;
            @media #{$nHometablet767} {
                font-size: $nHomefont30;
                padding-bottom: 30px;
            }
            @media #{$nHomephone599}{
                width: 250px;
                line-height: $nHomefont36;
            }
        }
        p{
            font-size: $nHomefont26;
            font-weight: $nHomebold;
            color: $nHomewhite;
            margin-bottom: 45px;
            @media #{$nHometablet767} {
                margin-bottom: 0px;
            }
            & small{
                font-size: $nHomefont16;
            }
            &:last-child{
                margin-bottom: 0px
            }
        }
        
    }
}

/*** How it works **/
.how-work{
    @include section_space;
    text-align: $nHometextcenter;
    @media #{$nHomephone599}{
        padding-left: 15px;
        padding-right: 15px;
    }
    p{
        @include body_copy;
        padding: 10px 0;
    }
    ul{
        counter-reset: list1;
        width: 100%;
        max-width: 1290px;
        margin: 20px auto;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        box-sizing: border-box;
        @media #{$nHometablet767} {
            padding: 0 15px;
        }
        li{
            position: relative;
            padding-top: 60px;
            width: 24%;
            margin: 0 2.5%;
            margin-bottom: 45px;
            box-sizing: border-box;
            @media #{$nHometablet767}{
                 width: 100%;
            }
            @media #{$nHomephone599}{
                padding-top: 50px;
                margin-bottom: 30px;
            }
            &::after{
                @include afterbefore;
                counter-increment: list1;
                content: counter(list1);
                width: 45px;
                height: 45px;
                border-radius: 50%;
                text-align: center;
                line-height: 45px;
                margin: 0 auto;
                background-color: #EDEBEB;
                color: #C3CF21;
                font-weight: $nHomebold;
                font-size: 22px;
            }
        }
    }
    .getbutton{margin-top: 45px;
        @media #{$nHometablet767}{
            margin-top: 30px;
        }
    }
}

/*** Together **/
.together-wrap{
    padding: 103px 0 64px 0;
    @media #{$nHometablet767}{
        padding: 0px;
    }
    .bg_grey{
        background: $nHomebggrey;
    }
    .container_box{
        max-width: 920px;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
        .left-content{
            padding: 50px 0 50px 100px;
            max-width: 370px;
            @media #{$nHometablet767}{
                padding: 50px 15px;
                max-width: 100%;
                text-align: center;
            }
            p{
                @include body_copy;
                padding: 10px 0;
                width: 85%;
                @media #{$nHometablet767}{ width: 100%;}
            }
            .getbutton{margin-top: 20px;}
        }
        .right_mobile{
            position: absolute;
            top: -100px;
            right: 0;
            width: 26%;
            @media #{$nHomeipad768} {
                top: -80px;
                right: 15px;
                width: 30%;
            }
            @media #{$nHometablet767} {
                display: none;
            }
            & img{
                @include scale;
            }
        }
    }
    
}

/*** Start Exploring Town **/
.explore_town {
    @include section_space;
    &_container {
        max-width: 1158px;
        margin: 0 auto;
        @media #{$nHometablet767}{
            padding: 0 15px;
        }
        & h2{
            padding-bottom: 15px;
        }
        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            @media #{$nHometablet767}{
                margin-bottom: 30px;
            }
            li {
                width: 100%;
                max-width: 315px;
                position: relative;
                border-radius: 5px;
                display: list-item;
                margin: 35px;
                display: none;
                overflow: hidden;
                box-shadow: 0 3px 10px 5px rgba(121,116,139,0.2);
                cursor: pointer;
                
                @media #{$nHomedesktop1156} {
                    max-width: 30%;
                    margin: 20px 10px 0 10px;
                }
                @media #{$nHometablet767}{
                    max-width: 50%;
                }
                @media #{$nHomephone599}{
                    max-width: 85%;
                }
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: relative;
                    overflow: hidden;
                    @include transtionslow;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(28, 31, 39, 0.38);
                    @include transtionslow;
                }
                .town_name {
                    position: absolute;
                    font-size: $nHomefont24;
                    font-weight: $nHomebold;
                    color: $nHomewhite;
                    width: 100%;
                    text-align: center;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
                &:hover{
                    .overlay {
                        background-color: rgba(28, 31, 39, 0.48);
                    }
                    & img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}


/*** Discover **/
.discover_wrap {
    @include section_space;
    background: $nHomebggrey;
    padding-top: 40px;
    &_container {
        max-width: 1158px;
        margin: 0 auto;
        .head_with_para{
            @media #{$nHometablet767}{
                padding: 0 15px;
            }
            p{ width: 50%; margin: 0 auto;
                @media #{$nHometablet767}{
                    width: 100%;
                }
            }
        }
        .green-btn{ margin-top: 20px;}
    }
}
.card_wrap{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    .card {
        width: 100%;
        max-width: 315px;
        border-radius: 10px;
        margin: 35px;
        overflow: hidden;
        background-color: #FFFFFF;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
        @include transtionslow;
        @media #{$nHomedesktop1156} {
            max-width: 30%;
            margin: 20px 10px;
        }
        @media #{$nHometablet767}{
            max-width: 50%;
        }
        @media #{$nHomephone599}{
            max-width: 85%;
        }
        & img {
          width: 100%;
          height: auto;
          border-radius: 10px 10px 0 0;
          object-fit: cover;
          vertical-align: middle;
        }
        &__title {
          padding: 20px 12px;
          text-align: center;
          font-size: $nHomefont20;
          line-height: $nHomefont24;
          font-weight: $nHomesemibold;
          color: $nHomegreydark;
        }
        &:hover{
            box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
        }
      }
}

/*** Feature In **/
.feature_wrap{
    @include section_space;
    &__container{
        max-width: 1200px;
        margin: 0 auto;
        @media #{$nHomedesktop1156} {
            padding: 0 35px;
        }
    }
    & h3{
        font-size: $nHomefont30;
        color: $nHomegreylight;
        padding-bottom: 55px;
        text-align: center;
        font-weight: $nHomesemibold;
    }
    .feature_slider{
        .slick-slide { padding-top: 4px;
            & img{
                max-width: 90%;
                max-height: 28px;
                margin: 0 auto;
                vertical-align: middle;
            }  
        }
        .slick-prev {
            width: 30px;
            height: 30px;
            z-index: 1;
            &:before {
                content: '';
                background:url(../images/arrow_icon.png) no-repeat;
                background-size: 100%;
                width: 30px;
                height: 30px;
                position: absolute;
                left: 0;
                top:0;
            }
        }
        .slick-next {
            width: 30px;
            height: 30px;
            z-index: 1;
            &:before{
                transform: rotate(180deg);
                content: '';
                background:url(../images/arrow_icon.png) no-repeat;
                background-size: 100%;
                width: 30px;
                height: 30px;
                position: absolute;
                left: 0;
                top:0;
            }
        }
    }
    
}


/*** Footer **/
.nHome_footer {
    @include section_space;
    background: $nHomebggrey;
    padding-top: 40px;
    @media #{$nHometablet767}{
        padding: 40px 0;
    }
    .footer_container {
        max-width: 1250px;
        margin: 0 auto;
        @media #{$nHomedesktop1156} {
            padding: 0 35px;
        }
        .footerwrap{
            @include flexallcenter;
            justify-content: space-between;
            @media #{$nHometablet767}{
               justify-content: center;
               flex-wrap: wrap;
            }
            .leftfooter
            { display: flex;
                flex-wrap: wrap;
                @media #{$nHometablet767}{
                    justify-content: center;
                    text-align: center;
                  }
                p{
                    @include body_copy;
                    width: 100%;
                    padding: 0 0 8px 0;
                }
                .d2{
                    order: 2;
                    @media #{$nHometablet767}{
                        order: 0;
                        font-size: 14px;
                        padding-top: 5px;
                    }
                }
                ul
                {
                    padding: 10px 0;
                    li{
                        a{
                            @include body_copy;
                            padding: 5px 0;
                            &:hover{
                                color: #333;
                            }
                        }
                    }
                }
            }
            .rightfooter{
                text-align: right;
                padding-top: 10px;
                @media #{$nHometablet767}{
                    text-align: center;
                }
                & img{ width: auto; height: 60px; margin-bottom: 35px;
                    @media #{$nHometablet767}{
                        height: 50px;
                    }
                }
                & ul{
                    display: flex;
                    justify-content: flex-end;
                    & li
                    {
                        margin: 0 10px;
                        a{
                            border: 1px solid $nHomegreylight;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            svg{
                                height: 16px;
                                fill: $nHomegreylight;
                            }
                            &:hover{
                                background-color: $nHomegreydark;
                                border-color: $nHomegreydark;
                                svg{
                                    fill:$nHomewhite;
                                }
                            }
                        }
                    }
                    & li:last-child{
                      margin-right: 0px;  
                    }
                }
            }
        }
    }
}

@media #{$nHometablet767} {
    .hidemobile {display: none;}
    .hidedesktop{ display: block;}
    
}
.bannartext_mobile{
    background-color: $nHomebggrey;
    padding:30px 30px;
    @media #{$nHometablet767} {
        font-size: $nHomefont20;
        line-height: $nHomefont30;
        text-align: center;
    }
}