@import "helper/reset";

/*Common btn */ 
%buttondesign {
    height: 50px;
    width: 240px;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &:after{
        @include afterbefore;
         background: rgba(0,0,0,0.08);
         @include transtionslow;
         height: 0px;
    }
    &:hover
    { @include transtionslow;
        &:after{
            @include afterbefore;
             background: rgba(0,0,0,0.08);
             @include transtionslow;
             height: 100%;
        }
    }
}
.white-btn {
    @extend %buttondesign;
    background-color: $white;
    color: $greydark;
}
.green-btn {
    @extend %buttondesign;
    color: #F7F7F7;
    background-color: #C3CF21;
    &:hover{
        color: #fff;
    }
}


.container_fluid{ width: 100%;}

/** Header Start  **/

header{
    @include flexcenterbetween;
    .logo{
        font-size: 40px;
        font-family: $antonFont;
        padding:12px 42px;
        color: #343434;
        text-transform: uppercase;
    }
    .getbutton{
        margin: 3px 30px;
    }
}

/*** Banner **/
.banner-main{ 
    text-align: center;
    background: url(../images/banner01.jpg) no-repeat 50%;
    background-size: cover;
    min-height: 571px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .banner_container{
        max-width: 632px;
        text-shadow: 0 5px 14px 0 rgba(0,0,0,0.5);
        h1{
            font-size: $font48;
            color: $white;
        }
        p{
            font-size: $font26;
            font-weight: $bold;
            color: $white;
            margin-bottom: 46px;
            small{
                font-size: $font16;
            }
        }
    }
}

/*** How it works **/
.how-work{
    @include section-space;
    text-align: $textcenter;
    h2{
        @include subHeading;
        padding-bottom: 45px;
    }
    p{
        @include bodycopy;
        padding: 10px 0;
    }
    ul{
        counter-reset: list1;
        width: 100%;
        max-width: 1290px;
        margin: 20px auto;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        li{
            position: relative;
            padding-top: 60px;
            width: 21%;
            margin: 0 2.5%;
            margin-bottom: 45px;
            &::after{
                @include afterbefore;
                counter-increment: list1;
                content: counter(list1);
                width: 45px;
                height: 45px;
                border-radius: 50%;
                text-align: center;
                line-height: 45px;
                margin: 0 auto;
                background-color: #EDEBEB;
                color: #C3CF21;
                font-weight: $bold;
                font-size: 22px;
            }
        }
    }
    .getbutton{margin-top: 45px;}
}